<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Read and create reviews and ratings for popular products">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1">

    <title>Sukun Matrimony</title>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sukun Matrimony</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#services">Services</a>
                </li>
                <li class="page-scroll">
                    <a href="#pricing">Pricing</a>
                </li>
                <li class="page-scroll">
                    <a href="#why">Why Us?</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2> An Islamic Match-Making Platform </h2>
                    <h3 class="intro-text"> For <strong><i>Practising</i></strong> Muslims</h3>
                    <div class="text-center" id="signUpSignIn">
                        <a href="#"
                           class="btn btn-primary btn-lg">
                            Sign Up for Free
                        </a>

                        OR

                        <a href="#"
                           class="btn btn-primary btn-lg">
                            Sign In
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>

<section id="services" class="container content-section">
    <h2 class="text-center">Services we offers</h2>
    <br>
    <div class="container">
        <div class="row">
            <section class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-6 col-md-4 col-lg-4 text-center">
                <i class="fa fa-bell-o fa-5x" aria-hidden="true"></i>
                <hr>
                <h4 class="text-center">Notification System</h4>
                <p class="text-center">You will be notified instantly if any user sends you a message
                    or asks permission for your photo. You will also be notified if
                    someone views your profile. This real-time notification makes sure
                    that you do not miss anything important !
                </p>
            </section>
            <section class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-6 col-md-4 col-lg-4 text-center">
                <i class="fa fa-comments-o fa-5x" aria-hidden="true"></i>
                <hr>
                <h4 class="text-center">Chat Monitoring</h4>
                <p class="text-justify">All the chats are monitored by the admin. Also, only paid members can
                    chat, and we know only those serious for marriage becomes a paid member.
                    If anyone behaves out of line, you can contact the admin through the pink
                    message box on the bottom right corner.</p>
            </section>
            <section class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-6 col-md-4 col-lg-4 text-center">
                <i class="fa fa-ban fa-5x" aria-hidden="true"></i>
                <hr>
                <h4 class="text-center">Image Request-Deny System</h4>
                <p class="text-justify">
                    We have a state of the art image request-deny-revoke system.
                    No one can view your photo unless you give them access. Also
                    you can revoke access to your photo anytime you choose to do so.
                </p>
            </section>
        </div>
    </div>

</section>

<section id="pricing" class="container content-section">
    <h2 class="text-center">Pricing as you want it?</h2>
    <p class="text-center">Here are pricing detail as you choose.<strong>Sukun Matrimony</strong> for all of your Islamic bride searching needs.</p>
    <br>
    <div class="container">
        <div class="row">
            <section class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-6 col-md-4 col-lg-4 text-center">
                <div class="well">
                    <h3><b>Plan 4</b></h3>
                    <hr>
                    <p>4 GB Datatransfer</p>
                    <hr>
                    <p>4 GB Storage</p>
                    <hr>
                    <p><b>€ 5,99 /PM</b></p>
                    <hr>
                    <a href="#" class="btn btn-info">Sign Up</a>
                </div>
            </section>
            <section class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-6 col-md-4 col-lg-4 text-center">
                <div class="well">
                    <h3><b>Plan 4</b></h3>
                    <hr>
                    <p>4 GB Datatransfer</p>
                    <hr>
                    <p>4 GB Storage</p>
                    <hr>
                    <p><b>€ 5,99 /PM</b></p>
                    <hr>
                    <a href="#" class="btn btn-info">Sign Up</a>
                </div>
            </section>
            <section class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-6 col-md-4 col-lg-4 text-center">
                <div class="well">
                    <h3><b>Plan 4</b></h3>
                    <hr>
                    <p>4 GB Datatransfer</p>
                    <hr>
                    <p>4 GB Storage</p>
                    <hr>
                    <p><b>€ 5,99 /PM</b></p>
                    <hr>
                    <a href="#" class="btn btn-info">Sign Up</a>
                </div>
            </section>
        </div>
    </div>
</section>

<section id="why" class="container content-section">
    <h2 class="text-center">Why Choose Us?</h2>
    <p class="text-center">Here are just few reason to choose <strong>Sukun Matrimony</strong> for all of your digital marketing needs.</p>
    <br>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-6 col-md-4 col-lg-4 text-center">
            <div class="block block-icon-left">
                <div class="icon">
                    <i class="fa fa-briefcase fa-5x"></i>
                </div>
                <div class="icon-content">
                    <h3>Professional</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-6 col-md-4 col-lg-4 text-center">
            <div class="block block-icon-left">
                <div class="icon">
                    <i class="fa fa-money fa-5x"></i>
                </div>
                <div class="icon-content">
                    <h3>Low Cost</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-6 col-md-4 col-lg-4 text-center">
            <div class="block block-icon-left">
                <div class="icon">
                    <i class="fa fa-dashboard fa-5x"></i>
                </div>
                <div class="icon-content">
                    <h3>Fast</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-6 col-md-4 col-lg-4 text-center">
            <div class="block block-icon-left">
                <div class="icon">
                    <i class="fa fa-gear fa-5x"></i>
                </div>
                <div class="icon-content">
                    <h3>Resources & Tools</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-6 col-md-4 col-lg-4 text-center">
            <div class="block block-icon-left">
                <div class="icon">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <div class="icon-content">
                    <h3>Large Community</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-6 col-md-4 col-lg-4 text-center">
            <div class="block block-icon-left">
                <div class="icon">
                    <i class="fa fa-book fa-5x"></i>
                </div>
                <div class="icon-content">
                    <h3>Online Courses</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="contact" class="container">


    <div class="row">
        <div class="container">
            <div class="row">
                <section class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center">
                    <h4>Contact Sukun Matrimony</h4>
                    <p>Sukun Matrimony &copy; 2016, All Rights Reserved</p>
                </section>
                <section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="http://twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a></li>
                        <li><a href="http://facebook.com" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a></li>
                        <li><a href="http://google.com" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name"></span></a></li>
                    </ul>
                </section>
                <section class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">

                </section>
            </div>
        </div>
    </div>
</section>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
